<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>

<style>
div.cell.code_cell {

}

div.text_cell_render{

    font-family: 'Quattrocento', serif;
    line-height: 130%;
    font-size: 115%;
    width:700px;
    margin-left:1%;
    margin-right:auto;
    padding-bottom:35px;

}

</style>